* {
  margin: 0;
  border: 0;
  padding: 0;
}

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  top: 300px;
  left: 500px;
}

.note__header {
  background-color: #f9b208;
  display: flex;
  justify-content: space-between;
}
.note__header__title {
  padding: 8px;
  min-width: 50%;
  max-width: 50%;
  outline: none;
  display: inline-block;
  white-space: pre-wrap;
}

.note__content {
  background-color: #f7fd04;
  overflow: auto;
  height: 100%;
}

.note__content__text {
  padding: 8px;
  outline: none;
  display: inline-block;
  white-space: pre-wrap;
}

.action_buttons {
  display: flex;
  align-items: center;
  padding: 8px;
}

.action_button {
  padding: 8px;
  border-radius: 50%;
  background-color: transparent;
}

.action_button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.resizable {
  resize: both;
  overflow: auto;
  min-width: 250px;
  min-height: 250px;
}

.dragbarVertical {
  position: absolute;
  width: 5px;
  height: 100%;
  opacity: 0;
  cursor: ew-resize;
}

.dragbarHorizontal {
  position: absolute;
  height: 5px;
  width: 100%;
  opacity: 0;
  cursor: ns-resize;
}
